body {
  margin: 0;
  padding: 50px;
  font-size: 18px;
  background-color: #EBEFF2;
  overflow-x: hidden;
}
.logo {
  font-weight: bold;
  margin-top: 10px;
}
  .logo .next {
    color: #7ab6ec;
  }
  .logo .step {
    color: #55B580;
  }
  .notAuthForm {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    box-shadow: 3px 3px 1px #DCDCDC;
  }
  .personal {
    background-color: #fff;
    padding: 15px 20px;
    margin-top: 50px;
  }
.headerText {
  margin-bottom: 20px;
}
.acceptText{
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-size:14px;
  margin-left: 0;
}
.alreadyHave{
  margin-top: 20px;
}
.profile {
  background-color: #fff;
}
<<<<<<< Updated upstream
.personalHeader{
  font-size: 24px;
}
.personalLabel{
  font-size: 14px;
  text-align: left;
  padding-top: 10px;
  color: #A9A9A9;
}
.personalInfo{
  font-size: 14px;
  color: #555;
  text-align: left;
  padding-top: 10px;
  padding-left: 25px;
}
.profileSend{
  margin-top: 10px;
}
.myPencil{
  margin-top: 10px;
}
.myPencilHidden{
  margin-top: 10px;
  color: #6495ED;
}
.today{
  background-color: #fff;
  padding: 15px 20px;
  //margin-top: -130px;
}
.stream{
  width: 95%;
  background-color: #fff;
  padding: 15px 20px;
  margin-top: 50px;
  margin-left: 5px;
}
.myProgress{
  width: 95%;
  background-color: #fff;
  padding: 15px 20px;
  //margin-top: 100px;
  margin-left: 5px;
}
  .myProgressBar{
    height: 8px;
    color: red;
  }
  .myProgressPercent{
    color: #00FF7F;
    font-weight: bold;
  }
.streamImg{
  width: 70%;
}
.streamName{
  padding-left: 0px;
}
.firstStream{
  margin-top: 25px;
}
.btwnUsers{
  margin: 12px;
}
.todayVerticalLineUp{
  width: 1px;
  height: 30px;
  background-color: #DCDCDC;
  margin-top: 0px;
  margin-bottom: 0px;
}
.todayVerticalLineDown{
  width: 1px;
  height: 30px;
  background-color: #DCDCDC;
  margin-top: -8px;
  margin-bottom: 0px;
}
.todayHorizontalLineLeft{
  width: 40px;
  height: 1px;
  background-color: #DCDCDC;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: -15px;
}
.todayHorizontalLineRight{
  width: 40px;
  height: 1px;
  background-color: #DCDCDC;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 58px;
}
.todayImg{
  width: 40%;
  margin-top: -25px;
}
.todayTime{
  //text-align: right;
  color: red;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.todayDone{
  //text-align: right;
  color: grey;
  font-size: 14px;
}
.material{
  background-color: #fff;
  padding: 15px 20px;
  margin-top: 50px;
}
.addfile{
  background-color: #fff;
  padding: 15px 20px;
}
.description{
  background-color: #fff;
  padding: 15px 20px;
  margin-top: 50px;
  margin-left: 20px;
  width: 30%;
  height: 80%;
  min-height: 80%;
  //max-height: 100%;
=======
.well{
  background-color: #fff
  height:300px;
}
.Glavnaya{
  margin-left: 20px;
}
.navbar{
  height: 100%;
}
.nav-logo{
  margin-top:0;
  width: 100%;
  text-align: center;
}
.nav-text{
  text-align: center;
  font-size:25px;
  font-weight: bolder;
}
.nav-foto{
  text-align: center;
  padding-bottom: 0;
}
.userName{
  margin-top: -15px;
  text-align: center;
}
.navglyphicon{
  text-align: center;
  padding-right: 10px;

}
.totalBalls{
  text-align: right;
}
.countBalls{
  font-weight: bolder;
  font-size: 25pt;
}
.ballText{
  margin-top: -40px;
}
.progress{
  margin-top: 40px;
  margin-bottom: 0;
  height: 10px;
}
.totalBallsGroup{
  text-align: right;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: black;
}
.countBallsGroup{
  font-weight: bolder;
  font-size: 20pt;
}
.ballTextGroup{
  margin-top: -40px;
}
.progressGroup{
  margin-top:0;
  margin-left: -35px;
  margin-bottom: 25px;
  height: 10px;
}
.thumbnail{
  background-color:transparent; 
  border: 0;
}
.thumbnail > img{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 50%;
  display: block;
}
.thumbnailGroup{
  margin-top:8px;
}
.thumbnailGroup > img{
  text-align: left;
  width: 70%;
  display: block;
  padding: 0; 
}
.topText{
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: -10px;
>>>>>>> Stashed changes
}
